[submodule "assets/angular.js"]
	path = assets/angular.js
	url = https://github.com/angular/angular.js.git
[submodule "assets/bootstrap"]
	path = assets/bootstrap
	url = https://github.com/twbs/bootstrap.git
